@import 'resources';

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter', 'Trebuchet MS', 'Lucida Sans Unicode';
  color:$black;
}
#app{
  display:block;
  width:100%;
  min-height:100vh;
}
svg.ico{
  width:20px;
  height:20px;
  &.grey{ *{stroke: $grey} }
  &.white{  *{stroke: #fff} }
  &.grey_2{ *{stroke: $grey_2} }
  &.green{ *{stroke: $green} }
  &.red{ *{stroke: $red} }
  &.checkbox {
    width:18px !important;height:18px !important;
    & *{ stroke-width:3px; }
  }
}
h1{
  font-size:30px;
  font-weight:500;
  color:$xblack;
}
h3{
  font-size:16px;
  font-weight:400;
}
