@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Inter-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Inter-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Inter-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Inter-Bold.ttf') format('truetype');
}

// variables
$primary:#7F56D9;
$primary_faded: #F9F5FF;
$outlines: #eaecf0;
$grey_light_1: #f9fafb;
$grey_light_2: #d0d5dd;
$grey_light_3:#F2F4F7;
$black: #344054;
$xblack: #101828;
$grey: #667085;
$grey_2:#98a2b3;
$green:#12b76a;
$green_faded:#ECFDF3;
$green_dark:#027A48;
$red:#F04438;
$red_dark:#B42318;
$divider: #EAECF0;

.bg_primary_faded{
  background:$primary_faded;
  color:$primary;
  svg *{stroke: $primary}
}

// mixins
@mixin pad_lr {
  padding-left:6%;
  padding-right:6%;
}
// make element unselectable with cursor
@mixin unselectable {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@mixin selectable {
	-webkit-touch-callout: auto;
	-webkit-user-select: auto;
	-khtml-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;
}

// where j=justify, a=align
@mixin flex($justify:center, $align:center, $dir:inherit) {
  display:flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $dir;
}

@mixin box-shadow{
  box-shadow:0 1px 2px 0 rgba(16, 24, 40, 0.06);
}

@mixin px($val) {
  padding-left: $val;
  padding-right: $val;
}
@mixin py($val) {
  padding-top: $val;
  padding-bottom: $val;
}
